*
!*/
!*.*
/venv_pyspedas
*.cdf
*.zip
*.html
*.nc
*.png
*.txt
*.bsp
*.tls
*.tpc
*.tf
*.bc
*.ti
*.tsc

# WPIA_document/images/ のPNGとPDFは管理対象にする
!/WPIA_document/images/*.png
!/WPIA_document/images/*.pdf